*
{
    color: #4e4537;
}

body
{
    background-color: #ffebcd;
}
#welcome,
#path
{
    text-align: center;
}

#welcome
{
    Font-Family: 'Ruda', Sans-Serif;
    Font-Size: 48px;
}

#path
{
    Font-Family: 'Roboto Slab', Serif;
    Font-Size: 16px;
}

.btn,
.btn-large,
.btn-small
{
    background-color: #b5aa99;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover
{
    background-color: #4e4537;
}

i
{
    color: #fff;
}

/* MODAL STYLE */
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content
  {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 
  {
    margin: 0;
  }
  
  .modal-header
  {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body 
  {
    padding: 10px 20px;
    background: #fff;
  }
  
  .modal-footer
  {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .closeNewCustomer,
  .closeReturningCustomer,
  .closeInventory
  {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .closeNewCustomer:hover,
  .closeReturningCustomer:hover,
  .closeInventoryCustomer:hover,
  .closeNewCustomer:focus,
  .closeReturningCustomer:focus,
  .closeInventory:focus
  {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen
  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }