*
{
  box-sizing: border-box;
  color: #4e4537;
}

body
{
    background-color: #ffebcd;
}
/* header,
footer
{
  height: 15vh;
} */
main
{
  background-color: #4e4537;
  height: 650px;
  margin: 0 auto;
}
.banner_text,
.path
{
    text-align: center;
    color: #ffebcd;
}

.banner_text
{
    Font-Family: 'Ruda', Sans-Serif;
    Font-Size: 48px;
}

.path
{
    Font-Family: 'Roboto Slab', Serif;
    Font-Size: 16px;
}

.btn,
.btn-large,
.btn-small
{
    background-color: #b5aa99;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover
{
    background-color: #4e4537;
}

i
{
    color: #fff;
}


.madeby
{
  text-align: center;
}

.path_button
{
  justify-content: space-between;
}